
@{
    ViewBag.Title = "Courses";
}

@*@{
        ViewBag.Title = "course";
    }*@




<br/>
<br/>
<br/>

<!-- Popular -->

<div class="popular page_section">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title text-center">
                    <h1>Courses</h1>
                </div>
            </div>
        </div>

        <div class="row course_boxes">

            <!-- Popular Course Item -->
            <div class="col-lg-4 course_box">
                <div class="card">
                    <img class="card-img-top" src="~/images/courses_1.jpg" alt="https://unsplash.com/kellybrito">
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">Drawing,Painting</a></div>
                        <div class="card-text">investigates traditional and  modern  media etc...</div>
                    </div>
                    <div class="price_box d-flex flex-row align-items-center">
                        <div class="course_author_image">
                            <img src="~/images/author.jpg" alt="https://unsplash.com/mehdizadeh">
                        </div>
                        <div class="course_author_name">Michelangelo <span></span></div>
                        <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>1</span></div>
                    </div>
                </div>
            </div>

            <!-- Popular Course Item -->
            <div class="col-lg-4 course_box">
                <div class="card">
                    <img class="card-img-top" src="~/images/courses_2.jpg" alt="https://unsplash.com/cikstefan">
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">Sculpture</a></div>
                        <div class="card-text">carving, modelling, welding and mould making etc...</div>
                    </div>
                    <div class="price_box d-flex flex-row align-items-center">
                        <div class="course_author_image">
                            <img src="~/images/author.jpg" alt="https://unsplash.com/mehdizadeh">
                        </div>
                        <div class="course_author_name">Donatello<span></span></div>
                        <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>2</span></div>
                    </div>
                </div>
            </div>

            <!-- Popular Course Item -->
            <div class="col-lg-4 course_box">
                <div class="card">
                    <img class="card-img-top" src="~/images/courses_3.jpg" alt="https://unsplash.com/dsmacinnes">
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">PrintMaking</a></div>
                        <div class="card-text">Intaglio printing, wood-cut, mono- printing, silk screen, papermaking, etc...</div>
                    </div>
                    <div class="price_box d-flex flex-row align-items-center">
                        <div class="course_author_image">
                            <img src="~/images/author.jpg" alt="https://unsplash.com/mehdizadeh">
                        </div>
                        <div class="course_author_name">Buddhist charms<span></span></div>
                        <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>3</span></div>
                    </div>
                </div>
            </div>

            <!-- Popular Course Item -->
            <div class="col-lg-4 course_box">
                <div class="card">
                    <img class="card-img-top" src="~/images/courses_4.jpg" alt="https://unsplash.com/kellitungay">
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">Film and Video: New Media Art</a></div>
                        <div class="card-text">digital art, photography, video, Internet art.</div>
                    </div>
                    <div class="price_box d-flex flex-row align-items-center">
                        <div class="course_author_image">
                            <img src="~/images/author.jpg" alt="https://unsplash.com/mehdizadeh">
                        </div>
                        <div class="course_author_name">Michael  <span></span></div>
                        <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>4</span></div>
                    </div>
                </div>
            </div>

            <!-- Popular Course Item -->
            <div class="col-lg-4 course_box">
                <div class="card">
                    <img class="card-img-top" src="~/images/courses_5.jpg" alt="https://unsplash.com/claybanks1989">
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">Computer Skills</a></div>
                        <div class="card-text"> essentials of information technology,computer skills, software, and website development, this course is designed to meet the specific requirements of the Fine Art curriculum.</div>
                    </div>
                    <div class="price_box d-flex flex-row align-items-center">
                        <div class="course_author_image">
                            <img src="~/images/author.jpg" alt="https://unsplash.com/mehdizadeh">
                        </div>
                        <div class="course_author_name">Smith <span></span></div>
                        <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>5</span></div>
                    </div>
                </div>
            </div>

            <!-- Popular Course Item -->
            <div class="col-lg-4 course_box">
                <div class="card">
                    <img class="card-img-top" src="~/images/courses_6.png" alt="https://unsplash.com/element5digital">
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">Liberal Arts</a></div>
                        <div class="card-text">Design and Architecture III — 1855 to Modernism, Islamic and Pakistan Studies, History of  Art:Culture  on  Display, Arts Politics, and the following as Electives: Contemporary Art, Design.</div>
                    </div>
                    <div class="price_box d-flex flex-row align-items-center">
                        <div class="course_author_image">
                            <img src="~/images/author.jpg" alt="https://unsplash.com/mehdizadeh">
                        </div>
                        <div class="course_author_name">Marcus Tullius Cicero<span></span></div>
                        <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>6</span></div>
                    </div>
                </div>
            </div>

            <!-- Popular Course Item -->
            <div class="col-lg-4 course_box">
                <div class="card">
                    <img class="card-img-top" src="~/images/courses_7.jpg" alt="https://unsplash.com/gaellemm">
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">Internship</a></div>
                        <div class="card-text">international art organizations, galleries, NGOs, television, and artists’ studios.as well as professional developmental skills, and provide a platform from which they can make more informed and educated decisions about their future careers.</div>
                    </div>
                    <div class="price_box d-flex flex-row align-items-center">
                        <div class="course_author_image">
                            <img src="~/images/author.jpg" alt="https://unsplash.com/mehdizadeh">
                        </div>
                        <div class="course_author_name">Warner <span>Author</span></div>
                        <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>7</span></div>
                    </div>
                </div>
            </div>

            <!-- Popular Course Item -->
            <div class="col-lg-4 course_box">
                <div class="card">
                    <img class="card-img-top" src="~/images/courses_8.jpg" alt="https://unsplash.com/juanmramosjr">
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">Ceramics</a></div>
                        <div class="card-text">Taught as any other medium of Fine Art, the Ceramics course offers the uniqueness</div>
                    </div>
                    <div class="price_box d-flex flex-row align-items-center">
                        <div class="course_author_image">
                            <img src="~/images/author.jpg" alt="https://unsplash.com/mehdizadeh">
                        </div>
                        <div class="course_author_name">Michael <span></span></div>
                        <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>8</span></div>
                    </div>
                </div>
            </div>

            <!-- Popular Course Item -->
            <div class="col-lg-4 course_box">
                <div class="card">
                    <img class="card-img-top" src="~/images/courses_9.jpg" alt="https://unsplash.com/kimberlyfarmer">
                    <div class="card-body text-center">
                        <div class="card-title"><a href="courses.html">Advanced Photoshop</a></div>
                        <div class="card-text">Adobe Guide, Layes, Smart Objects etc.There are thirty five new Photoshop tutorials to learn amazing photo manipulation, retouching.</div>
                    </div>
                    <div class="price_box d-flex flex-row align-items-center">
                        <div class="course_author_image">
                            <img src="~/images/author.jpg" alt="https://unsplash.com/mehdizadeh">
                        </div>
                        <div class="course_author_name">Thomas<span></span></div>
                        <div class="course_price d-flex flex-column align-items-center justify-content-center"><span>9</span></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


